{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1 class="letting_h1">Lettings</h1>
    {% if lettings_list %}
    <div class="cards_list">
    {% for letting in lettings_list %}
        <div class="small_card">
            <div class="card_heading">
                <div class="card_title">
                    <a href="{% url 'lettings:letting' letting_id=letting.id %}">
                        {{ letting.title }}
                    </a>
                </div>
                <div class="card_subtitle">
                    {{ letting.address.city }}, {{ letting.address.state }}
                </div>
            </div>
            <div class="card_picture">
                <img src="{% static 'images/generic_house.jpeg' %}">
            </div>
        </div>
    {% endfor %}
    </div>
{% else %}
    <p>No lettings are available.</p>
{% endif %}
{% endblock %}