[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
factory-boy = "*"
faker = "*"

flake8 = "*"

gunicorn = "*"
whitenoise = "*"
