/* General */
/******************************************************************************/

body {
    margin: 0;
    background-color: white;
    font-family: 'Open Sans', sans-serif;    
}

a {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

h1 {
    font-weight: 400;
    font-size: 2em;
    text-align: center;
}

h3 {
    margin: 0;
    font-size: 1.6em;
}

/* Base Page styles */
/******************************************************************************/

div.container {
    position: relative;
}

/* Header styles */
header.wrapper { 
    position: relative;
    z-index: 1;
    background-color: rgba(116, 90, 19, .5);
    font-weight: 600;   
    color: black;     
    width: 100%;
    display: grid;
    column-gap: 1em;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "logo brand contacts"
        "logo brand menu";

}

header > .logo {
    grid-area: logo;
    align-self: center;
}

header > .brand {
    grid-area: brand;
    align-self: center;
    text-align: center;
}

.brand_first_line {
    text-transform: uppercase;
}

.brand_second_line {
    color: #953517;
    font-family: 'Great Vibes', cursive;
}

header > .contacts {
    grid-area: contacts;
    align-self: center;
    font-weight: 400; 
}

header > .menu {
    grid-area: menu;
    align-self: center;
}

header img {
    height: 120px;
}

/* Contacts box styles */
.contacts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.networks {
    display: flex;
    justify-content: center;
}

.networks .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1em;
}

.phone {
    display: flex;
    justify-content: center;
    column-gap: 0.5em;
}

.email {
    display: flex;
    justify-content: center;
    column-gap: 0.5em;    
}

svg {
    text-align: center;
    align-self: center;
}

/* Menu box styles */
.menu_box {
    display: flex;
    justify-content: space-around;
    margin: 0em 1em 1em 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-top: solid;
    border-bottom: solid;
    border-color: #953517;
    border-width: 2px;
}

/* Home Page styles */
/******************************************************************************/
.bg_image {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.bg_image img {
    width: 100%;
}

/* Main Section styles */
/******************************************************************************/

.main_section {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4em;
    margin-bottom: 4em;
}

/* Small card styles */
/******************************************************************************/

.cards_list {
    display: grid;
    grid-template-columns: min-content min-content;
    justify-content: space-evenly;
    row-gap: 3em;
}

.small_card {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    padding-top: 2em;
    padding-bottom: 2em;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.small_card:hover {
    box-shadow: 0 5px 8px 0 rgb(0 0 0 / 20%), 0 3px 10px 0 rgb(0 0 0 / 19%);
}

.small_card .card_heading {
    margin-left: 1em;
    margin-right: 1em;
}

.small_card .card_title {
    font-size: 1.4em;
}

.small_card .card_subtitle {
    font-size: 1.2em;  
}

.small_card  a {
    color: #135D74;
}

.small_card .card_picture {
    margin-top: 2em;
}

.small_card .card_picture img {
    max-width: 380px;
}

/* Big card styles */
/******************************************************************************/

.big_card {
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    padding-top: 1em;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 2em;
}

.big_card h2 {
    border-bottom: solid;
    border-color: slategray;
    border-width: 2px;
}

.big_card .card_picture {
    text-align: center;
}

.big_card .card_picture img {
    width: 100%;
    max-width: 500px;
}