@media (max-width: 767px) {
    /* Base Page styles */
    /**************************************************************************/
    header.wrapper {

        grid-template-areas:
            "logo brand"
            "logo contacts"
            "menu menu";
        grid-template-columns: auto;
        grid-template-rows: min-content;
    }

    .contacts {
        grid-template-columns: 1fr;

    }

    .menu_box {
        flex-direction: column;
    }

    .menu_choice {
        text-align: center;
        font-size: 1.5em;
    }
    
    /* Home Page styles */
    /**************************************************************************/
    .bg_image {
        overflow: hidden;
        width: 100%;
    }


    .bg_image img {
        width: min-content;
        height: 100%;
    }

    /* Small card styles */
    /**************************************************************************/

    .cards_list {
        grid-template-columns: min-content;
    }
}