@media (max-width: 767px) {
    /* Base Page styles */
    /**************************************************************************/
    header.wrapper {

        grid-template-areas:
            "brand"
            "contacts"
            "menu";
        grid-template-columns: auto;
        grid-template-rows: min-content;
    }

    .logo {
        display: none;
    }

    .contacts {
        grid-template-columns: 1fr;
        padding-top: 1em;
        padding-bottom: 1em;
        gap: 0.4em;
    }

    .menu_box {
        flex-direction: column;
    }

    .menu_choice {
        text-align: center;
        font-size: 1.5em;
    }
    
    /* Home Page styles */
    /**************************************************************************/
    .bg_image {
        overflow: hidden;
        width: 100%;
    }


    .bg_image img {
        width: min-content;
        height: 100%;
    }

    /* Small card styles */
    /**************************************************************************/

    .cards_list {
        grid-template-columns: min-content;
    }
}